<!doctype html>

<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div class="container">
            <h1>Please login</h1>
            <br>
            <form action="" method="post">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <input class="btn btn-default" type="submit" value="Login">
            </form>
        </div>
    </body>
</html>
