<!doctype html>

<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div class="container">
            <h1>Search for a song's lyrics</h1>
            <br>
            <form action="" method="post">
                <input type="text" placeholder="Song" name="song_name">
                <input type="text" placeholder="Artist" name="song_artist">
                <input class="btn btn-default" type="submit" value="search">
            </form>
        </div>
    </body>
</html>
